*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

canvas{
    background: #00ff00;
    background: linear-gradient(#FFD700,#FF8C00,#FF4500);
    display: block;
    margin: 0 auto;
}

h1{
    color: #2c5364;
    text-align: center;
    font-family: monospace;
    margin: 50px;
}